.skills-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

/* .skill-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
     Adjust as needed

  } */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 20px)); /* Adjust as needed */
  }
}
